# How to create List?

In [14]:
p1 = [1,2,3,4,5,10.5,11.5,12.5,13.5,'A','B','C','D',"kERVIN"]
print(p1)
print(type(p1))

[1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'kERVIN']
<class 'list'>

# List Slicing

In [15]:
print("current list : ", p1)
print("size : ",len(p1))

print("***Print a Value Between 1 to 10***")
print(p1[1:11])
print()

current list :  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'kERVIN']
size :  14
***Print a Value Between 1 to 10***
[2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B']

In [17]:
print("current list : ", p1)
print("***Print all the value after index 2***")
print(p1[3:15])


print("***Print alternate value between 1 to 10***")
print(p1[1:15:2])

print("***Print value on index 8***")
print(p1[8])

print("***Print Last Value of your List***")
print([14])
print()

current list :  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'kERVIN']
***Print all the value after index 2***
[4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'kERVIN']
***Print alternate value between 1 to 10***
[2, 4, 10.5, 12.5, 'A', 'C', 'kERVIN']
***Print value on index 8***
13.5
***Print Last Value of your List***
[14]

# List Down

In [43]:
print("current list : ", p1)
p1.insert(5,"Vin")
print("updated list",p1)

current list :  [1, 3, 4, 5, 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'kERVIN', 'Mango']
updated list [1, 3, 4, 5, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'kERVIN', 'Mango']

In [22]:
print("current list : ", p1)
print("size : ",len(p1))
p1[6] = "Tanedo"
print("updated list :",p1)

current list :  [1, 2, 3, 4, 5, 'Vin', 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'kERVIN']
size :  15
updated list : [1, 2, 3, 4, 5, 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'kERVIN']

In [54]:
print("current list : ", p1)
print("size : ",len(p1))
p1.append("Mango")
print("updated list :",p1)

current list :  [1, 3, 4, 5, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN']
size :  14
updated list : [1, 3, 4, 5, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN', 'Mango']

# Remove Method

In [56]:
print("current list : ", p1)
print("size : ",len(p1))
p1.remove(3)
print("updated list :",p1)
print("size : ",len(p1))

current list :  [1, 3, 4, 5, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN', 'Mango']
size :  15
updated list : [1, 4, 5, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN', 'Mango']
size :  14

In [58]:
print("current list : ", p1)
print("size : ",len(p1))

p1.pop()
print("updated list : ", p1)
print("size : ",len(p1))

current list :  [1, 4, 5, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN', 'Mango']
size :  14
updated list :  [1, 4, 5, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN']
size :  13

In [59]:
print("current list : ", p1)
print("size : ",len(p1))

del p1[2]
print("updated list : ", p1)
print("size : ",len(p1))

current list :  [1, 4, 5, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN']
size :  13
updated list :  [1, 4, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN']
size :  12

In [60]:
print("current list : ", p1)
print("size : ",len(p1))

p1.clear()
print("updated list : ", p1)
print("size : ",len(p1))

current list :  [1, 4, 'Vin', 'Vin', 'Tanedo', 11.5, 12.5, 13.5, 'A', 'B', 'C', 'kERVIN']
size :  12
updated list :  []
size :  0

# Print all the value one by one using for Loop

In [62]:
p2 = ["apple","mango","kiwi","orange"]
for i in p2:
    print(i," = ",len(i))

apple  =  5
mango  =  5
kiwi  =  4
orange  =  6

# Nested List

In [63]:
ecommerce = [
    "Mobiles",["Samsung","Oppo","Iphone",[20000,25000,30000]],
    "Laptop",["HP","Acer","Dell",[25000,30000,35000]],
    "Clothes",["Men","Women",[50,100]]
    
]

print(ecommerce)

['Mobiles', ['Samsung', 'Oppo', 'Iphone', [20000, 25000, 30000]], 'Laptop', ['HP', 'Acer', 'Dell', [25000, 30000, 35000]], 'Clothes', ['Men', 'Women', [50, 100]]]

In [75]:
print(ecommerce[1][0])

Samsung

# Student Application using List and List Methods